body {
    margin: 0;
    padding: 0;
    background-color: #DDDDDD;
}

form {
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

h3 {
    text-align: center;
    font-size: 2.5rem;

}

input {
    width: 360px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(252, 249, 249);
    border-style: solid;
    padding: 0 10px 0 10px;
    font-size: 1rem;
    border: none;

}

input::placeholder {
    padding: 0 10px 0 10px;
}

button {
    width: 150px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    background-color: #121212;
    color: white;
    margin-top: 10px;
    font-size: 1rem;
}

p {
    color: red;
    text-align: center;
}